.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgb(0,0,0,0)
}

.sidenav .mat-toolbar {
  background: inherit;
  background-color: #3f51b5;
  color: #fafafa;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex : 1 1 auto;
}