<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'dialog'"
      [mode]="(isHandset$ | async) ? 'push' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <mat-toolbar> <mat-icon aria-label="side nav toggle icon">home</mat-icon>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#"><mat-icon aria-hidden="false" aria-label="Example home icon">supervised_user_circle</mat-icon>
        Members</a>
        <mat-divider></mat-divider>  
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>MembervotesApp</span>
      <span class="spacer"></span>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
