<mat-card>
  <mat-card-header>
    <mat-card-title>Members</mat-card-title>
  </mat-card-header>
  <mat-card-content class="example-container">
    <mat-form-field class="member-filter full-width-field">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter by ID, Official Name Or Given Name..." />
    </mat-form-field>
    <div class="loading-box" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort matSortActive="officialName"
        matSortDisableClear matSortDirection="desc" class="mat-elevation-z8">
        <ng-container matColumnDef="{{ column.map }}" *ngFor="let column of columnsToDisplay">
          <th mat-header-cell *matHeaderCellDef>{{ column.label }}</th>
          <td mat-cell *matCellDef="let member">{{ member[column.map] }}</td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let member" [attr.colspan]="columnsToDisplay.length">
            <div class="vote-detail" [@detailExpand]="member == expandedElement ? 'expanded' : 'collapsed'">
              <table mat-table [dataSource]="member.votes" class="mat-elevation-z8">
                <ng-container matColumnDef="endDate">
                  <th mat-header-cell *matHeaderCellDef>Date</th>
                  <td mat-cell *matCellDef="let vote">
                    {{ vote.endDate | date:'medium' }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="vote">
                  <th mat-header-cell *matHeaderCellDef>Vote</th>
                  <td mat-cell *matCellDef="let vote">
                    <mat-icon *ngIf="vote.vote === 'Yea'"  aria-hidden="false" aria-label="Example home icon">thumb_up</mat-icon>  
                    <mat-icon *ngIf="vote.vote === 'Nay' || vote.vote === 'No'"  aria-hidden="false" aria-label="Example home icon">thumb_down</mat-icon>                <!-- Add icon here -->
                    {{ vote.vote }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="votename">
                  <th mat-header-cell *matHeaderCellDef>Vote Name</th>
                  <td mat-cell *matCellDef="let vote">
                    {{ vote.votename }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="result">
                  <th mat-header-cell *matHeaderCellDef>result</th>
                  <td mat-cell *matCellDef="let vote">
                    {{ vote.result }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="voteColumnsMap"></tr>
                <tr mat-row *matRowDef="let row; columns: voteColumnsMap"></tr>
              </table>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsMap"></tr>
        <tr mat-row *matRowDef="let member; columns: columnsMap" class="member-row"
          [class.example-expanded-row]="expandedElement === member" (click)="expandedElement = expandedElement === member ? null : member
          "></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="member-detail-row"></tr>
      </table>
    </div>
    <mat-paginator [length]="resultsLength" [pageSize]="10"></mat-paginator>
  </mat-card-content>
</mat-card>