table {
    width: 100%;
  }
  
  .table-container {
    position: relative;
    max-height: 500px;
    overflow: auto;
  }

  .loading-box {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  tr.member-detail-row {
    height: 0;
  }

  tr.member-detail-row .mat-row{
    background: #f0f3ff;
  } 
  
  tr.member-row:not(.example-expanded-row):hover {
    background: #777;
  }
  
  tr.member-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .member-row td {
    border-bottom-width: 0;
  }
  
  .vote-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  .member-filter {
    margin-left :1em;
  }

  .full-width-field {
    width: 50%;
 }